.cover {
  background: linear-gradient( to bottom, rgba(250, 250, 250, 0.6), rgba(250, 250, 250, 0.1), rgba(250, 250, 250, 0)), url(../assets/images/profile1.jpg) center right no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro {
  color: black;
  /*width: 100%;*/
}

.name {
  font-family: 'Open Sans', sans-serif;
  font-size: 4rem;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.contact {
  margin-bottom: 3%;
}

.contact i {
  padding: 5px 10px;
}

.contact i:hover {
  color: #ff5492;
}

.me {
  color: black;
}

.explore {
  display: flex;
  flex-direction: horizontal;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 70px;
}

.explore .demo {
  border-color: #ff5492;
}

.explore .source {
  border-color: white;
  color: black;
}

.explore div:hover {
  background-color: black;
  color: white;
  border-color: black;
}

@media (min-width: 640px) {
  .cover {
    padding-right: 20%;
  }
  .name {
    font-size: 70px;
  }
    .me {
    color: #ff5492;
  }
}

@media (min-width: 1024px) {
  .cover {
    background: linear-gradient( to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url(../assets/images/profile1.jpg) center right no-repeat;
    background-size: cover;
    padding-right: 30%;
  }
  .name {
    font-size: 90px;
  }
}


/*Cursor style for type.js*/

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
  color: #ff1e87;
}


/*Blink cursor*/

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
